i.icon.icon-donkey-kong {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-donkey-kong.png");
}
i.icon.icon-fox {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-fox.png");
}
i.icon.icon-kirby {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-kirby.png");
}
i.icon.icon-link {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-link.png");
}
i.icon.icon-mario {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-mario.png");
}
i.icon.icon-marth {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-marth.png");
}
i.icon.icon-peach {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-peach.png");
}
i.icon.icon-pikachu {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-pikachu.png");
}
i.icon.icon-samus {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-samus.png");
}
i.icon.icon-villager {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-villager.png");
}
i.icon.icon-wii-fit-trainer {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-wii-fit-trainer.png");
}
i.icon.icon-yoshi {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-yoshi.png");
}
i.icon.icon-captain-falcon {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-captain-falcon.png");
}
i.icon.icon-diddy-kong {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-diddy-kong.png");
}
i.icon.icon-little-mac {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-little-mac.png");
}
i.icon.icon-luigi {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-luigi.png");
}
i.icon.icon-pit {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-pit.png");
}
i.icon.icon-zelda {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-zelda.png");
}

i.icon.icon-bowser {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-bowser.png");
}
i.icon.icon-ike {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-ike.png");
}
i.icon.icon-king-dedede {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-king-dedede.png");
}
i.icon.icon-lucario {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lucario.png");
}
i.icon.icon-mega-man {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-mega-man.png");
}
i.icon.icon-meta-knight {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-meta-knight.png");
}
i.icon.icon-rosalina-and-luma {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-rosalina-and-luma.png");
}
i.icon.icon-sheik {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-sheik.png");
}
i.icon.icon-shulk {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-shulk.png");
}
i.icon.icon-sonic {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-sonic.png");
}
i.icon.icon-toon-link {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-toon-link.png");
}

i.icon.icon-super-bowser {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-super-bowser.png");
}
i.icon.icon-super-luigi {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-super-luigi.png");
}
i.icon.icon-super-mario {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-super-mario.png");
}
i.icon.icon-super-mario-gold {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-super-mario-gold.png");
}
i.icon.icon-super-mario-silver {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-super-mario-silver.png");
}
i.icon.icon-super-peach {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-super-peach.png");
}
i.icon.icon-super-toad {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-super-toad.png");
}
i.icon.icon-super-yoshi {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-super-yoshi.png");
}

i.icon.icon-charizard {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-charizard.png");
}
i.icon.icon-greninja {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-greninja.png");
}
i.icon.icon-jigglypuff {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-jigglypuff.png");
}
i.icon.icon-lucina {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lucina.png");
}
i.icon.icon-ness {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-ness.png");
}
i.icon.icon-pac-man {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-pac-man.png");
}
i.icon.icon-robin {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-robin.png");
}
i.icon.icon-wario {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-wario.png");
}

i.icon.icon-inkling-boy {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-inkling-boy.png");
}
i.icon.icon-inkling-girl {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-inkling-girl.png");
}
i.icon.icon-inkling-squid {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-inkling-squid.png");
}

i.icon.icon-bowser-jr {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-bowser-jr.png");
}
i.icon.icon-dark-pit {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-dark-pit.png");
}
i.icon.icon-dr-mario {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-dr-mario.png");
}
i.icon.icon-ganondorf {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-ganondorf.png");
}
i.icon.icon-palutena {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-palutena.png");
}
i.icon.icon-pikmin-olimar {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-pikmin-olimar.png");
}
i.icon.icon-zero-suit-samus {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-zero-suit-samus.png");
}
i.icon.icon-30th-mario-classic {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-30th-mario-classic.png");
}
i.icon.icon-30th-mario-modern {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-30th-mario-modern.png");
}
i.icon.icon-turbo-dk {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-turbo-dk.png");
}
i.icon.icon-hammer-bowser {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-hammer-bowser.png");
}
i.icon.icon-duck-hunt {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-duck-hunt.png");
}
i.icon.icon-mr-game-watch {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-mr-game-watch.png");
}
i.icon.icon-rob {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-rob.png");
}
i.icon.icon-chibi-robo {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-chibi-robo.png");
}
i.icon.icon-green-yarn-yoshi {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-green-yarn-yoshi.png");
}
i.icon.icon-blue-yarn-yoshi {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-blue-yarn-yoshi.png");
}
i.icon.icon-pink-yarn-yoshi {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-pink-yarn-yoshi.png");
}
i.icon.icon-mega-yarn-yoshi {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-mega-yarn-yoshi.png");
}
i.icon.icon-falco {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-falco.png");
}
i.icon.icon-mewtwo {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-mewtwo.png");
}
i.icon.icon-mii-brawler {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-mii-brawler.png");
}
i.icon.icon-mii-gunner {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-mii-gunner.png");
}
i.icon.icon-mii-swordfighter {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-mii-swordfighter.png");
}
i.icon.icon-cyrus {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-cyrus.png");
}
i.icon.icon-digby {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-digby.png");
}
i.icon.icon-isabelle {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-isabelle.png");
}
i.icon.icon-kk {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-kk.png");
}
i.icon.icon-lottie {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lottie.png");
}
i.icon.icon-mabel {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-mabel.png");
}
i.icon.icon-reese {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-reese.png");
}
i.icon.icon-tom-nook {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-tom-nook.png");
}
i.icon.icon-shovel-knight {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-shovel-knight.png");
}
